body {
    background: #DDDDDD;
}

.navbar {
    background-color: #800000;
    color: white;
}

.page-container {
    margin-top: 75px;
}

.form-control {
    background-image: none;
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    
}

.form-control:focus {
    background-image: none;
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
}
  
.btn.btn-primary, .btn.btn-primary:hover, .btn.btn-primary:active{
    color: #800000;
}


  
#fab {
    position: fixed;
    right: 10px;
    bottom: 10px;
    background-color: #800000;
    color: white;
    z-index: 999;
}

#fab:active {
    transform: translateY(2px);
    opacity: 0.8;
}

#columns {
    column-count: 3;
    column-gap: 5px;
}

@media (min-width: 992px) {
    #columns {
        column-count: 4;
        column-gap: 10px;
    }
}

.pin {
    display: inline-block;
    box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
    margin: 0 2px 15px;
    padding: 10px;
    padding-bottom: 5px;
    background: linear-gradient(45deg, #FFF, #EEE);
    transition: all .2s ease;
}

.pin img {
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid #ccc;
    padding-bottom: 8px;
    margin-bottom: 3px;
}

.pin p {
    font: 12px/18px Arial, sans-serif;
    text-align: center;
    color: #333;
    margin: 0;
    max-height: 18px;
    overflow: hidden;
}

.dropdown-menu-right{
    left:-128px;
}

.card{
    display:inline-block;
}

.card p{
    font: 20px Arial, sans-serif;
    color: black;
    margin: 20px 0;
    max-height: 20px;

}

#detailPage{
    text-align: center;
}

#firebaseui-auth-container{
    margin: 50px auto;
}

#rosefireButton{
    display: block;
    margin: 60px auto;
    color: white;
    background-color: #800000;
    font-size: 1.1em;
    padding: 10px 30px;
    border-radius: 5px;
}

.bmd-layout-content{
    height: 100vh;
}

.bmd-layout-drawer>header {
    background-color: #800000;
    color: white;
}

.bmd-layout-drawer>ul {
    background-color: #DDDDDD;
}


.list-group-item:first-child{
    margin-right:0.5rem;
}

#menuDelete, #menuEdit{
    display: none;
}
